div{
    width: 200px;
    height: 200px;
    background-color: rgb(5, 255, 255);
    /* transform: translate(850px,350px);*/
    transform: matrix(2,-0.4,3,0,0,0);
    color: rgb(172, 115, 115);
}

